body {
    font-family: 'Merriweather', serif !important;
}

.navbar-custom {
    background-color: #F0E9D2;
}
.navbar-custom a {
    color: #181D31;
}
.navbar-custom a:hover {
    color: #678983;
}
.custom-toggler .navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg height='25px' version='1.1' viewBox='0 0 25 25' width='25px' id='svg63' sodipodi:docname='hamburger.svg' inkscape:version='1.1.2 (b8e25be833  2022-02-05)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview65' pagecolor='%23505050' bordercolor='%23eeeeee' borderopacity='1' inkscape:pageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' showgrid='false' inkscape:zoom='17.96' inkscape:cx='12.5' inkscape:cy='12.5' inkscape:window-width='1366' inkscape:window-height='658' inkscape:window-x='0' inkscape:window-y='27' inkscape:window-maximized='1' inkscape:current-layer='TabBar-Icons' /%3E%3Ctitle id='title53' /%3E%3Cdesc id='desc55' /%3E%3Cdefs id='defs57' /%3E%3Cg fill='none' fill-rule='evenodd' id='TabBar-Icons' stroke='none' stroke-width='1'%3E%3Cg fill='%23000000' id='Hamburger' style='fill:%23181d31%3Bfill-opacity:1'%3E%3Cpath d='M0 2 L25 2 L25 6 L0 6 L0 2 Z M0 10 L25 10 L25 14 L0 14 L0 10 Z M0 18 L25 18 L25 22 L0 22 L0 18 Z' id='path59' style='fill:%23181d31%3Bfill-opacity:1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.titulo {
    font-size: 2rem;
    font-weight: bold;
}

.mr-10 {
    margin-right: 10em;
}

#totalCompraMsj{
    visibility: hidden;
}
#carritoVacio{
    visibility: visible;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
  
.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.elementosCarrito {
    display: grid;
    grid-template-columns: repeat(5,2fr);
    margin: 1em 0;
}

.elementosCarrito input {
    width: 3rem;
    height: 2rem;
}

.cuentaCarrito {
    background-color: #181D31;
    color: #fefefe;
    border-radius: 30px;
    padding: 1px 7px;
    vertical-align: top;
    visibility: hidden
}

.btnEliminar {
    cursor: pointer;
}

.footer {
    background-color: #181D31;
    color: #fff;
    padding: 2em 1em;
    margin-top: 5em;
}
.footer .footerTitle {
    font-weight: bold;
    font-size: 1.2em;
    margin: .5em 0;
}
.footer .footerElement {
    font-size: .8em;
    text-align: justify;
}

.btn.btn-primary {
    background-color: #181D31 !important;
    border-color: #181D31 !important;
}