.custom-container {
    width: 100%;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-right: auto;
    margin-left: auto;
}

.navbar-custom {
    background-color: #F0E9D2;
}
.navbar-custom a {
    color: #181D31;
}
.navbar-custom a:hover {
    color: #678983;
}
.custom-toggler .navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg height='25px' version='1.1' viewBox='0 0 25 25' width='25px' id='svg63' sodipodi:docname='hamburger.svg' inkscape:version='1.1.2 (b8e25be833  2022-02-05)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview65' pagecolor='%23505050' bordercolor='%23eeeeee' borderopacity='1' inkscape:pageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' showgrid='false' inkscape:zoom='17.96' inkscape:cx='12.5' inkscape:cy='12.5' inkscape:window-width='1366' inkscape:window-height='658' inkscape:window-x='0' inkscape:window-y='27' inkscape:window-maximized='1' inkscape:current-layer='TabBar-Icons' /%3E%3Ctitle id='title53' /%3E%3Cdesc id='desc55' /%3E%3Cdefs id='defs57' /%3E%3Cg fill='none' fill-rule='evenodd' id='TabBar-Icons' stroke='none' stroke-width='1'%3E%3Cg fill='%23000000' id='Hamburger' style='fill:%23181d31%3Bfill-opacity:1'%3E%3Cpath d='M0 2 L25 2 L25 6 L0 6 L0 2 Z M0 10 L25 10 L25 14 L0 14 L0 10 Z M0 18 L25 18 L25 22 L0 22 L0 18 Z' id='path59' style='fill:%23181d31%3Bfill-opacity:1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.btn.btn-primary {
    background-color: #181D31 !important;
    border-color: #181D31 !important;
}

.tituloContainer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 2em 0;
    position: relative;
}
.tituloText {
    position: absolute;
    padding-right: 1em;
    background-color: #fff;
}
.tituloLine {
    width: 100%;
    height: 0;
    border: 1px solid #181D31;
    margin: 11px;
    display: inline-block;
    background-color: #181D31;
}
.tituloLineContainer {
    width: 100%;
}

.offcanvas-header .btn-close{
    color: #fefefe !important;
}
.offcanvas-footer{
    padding: 1.5rem 1.5rem;
    background-color: #181D31;
    color: #fefefe;
}

.mr-10 {
    margin-right: 10em;
}

#totalCompraMsj{
    position: fixed;
    bottom: 0;
}

#carritoVacio{
    display: none;
}
.tituloCarrito {
    background-color: #181D31;
    color: #fefefe;
}
.portadaCarrito {
    width:50%;
    height:auto;
    max-width: 150px;
    max-height: 226px
}
.cuentaCarrito {
    display: none;
    background-color: #181D31;
    color: #fefefe;
    border-radius: 30px;
    padding: 1px 7px;
    vertical-align: top;
}

.btnEliminar {
    cursor: pointer;
}

.buttonCarrito {
    background-color: transparent;
    padding: 0;
    border: none;
}
.imgCarrito {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.customBg{
    background-color: #181D31 !important;
}

.accordion-button {
    background-color: #181D31 !important;
    color: #E4E4E4 !important;
}
.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.bordes {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E4E4E4;
}

#totalCompraPedido {
    padding-top: 2em;
}

.card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px
}
.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}
#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}
#progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff
}
#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #C5CAE9;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1
}
#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%
}
#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
    left: -50%
}
#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%
}
#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}
#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}
#progressbar li.active:before,
#progressbar li.active:after {
    background: #181D31
}
#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c"
}
.icon {
    width: 40px;
    height: 40px;
}
.icon-content {
    padding-bottom: 20px
}

.p-left {
    padding-left: 7rem !important;
}

.list-group-item {
    font-size: .8em
}

.toast {
    opacity: 1 !important;
  }
  
#toast-container > div {
    opacity: 1 !important; 
}

.footer {
    background-color: #181D31;
    color: #fff;
    padding: 2em 1em;
    margin-top: 5em;
}
.footer .footerTitle {
    font-weight: bold;
    font-size: 1.2em;
    margin: .5em 0;
}
.footer .footerElement {
    font-size: .8em;
    text-align: justify;
}
